[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "==0.770"
autopep8 = "==1.5"

[packages]
thinc = {extras = ["blis"],version = "==8.0.0a1"}
tqdm = "==4.43.0"
pillow = "==7.0.0"
fire = "==0.3.0"
imageio = "==2.8.0"
imageio-ffmpeg = "==0.4.1"
torch = "===1.4.0"
torchvision = "===0.5.0"
mypy = "*"
autopep8 = "*"

[requires]
python_version = "3.8"

[scripts]
"lint" = "autopep8 --in-place --aggressive --aggressive --aggressive"
"lint:all" = "pipenv run lint --recursive ."
